
<th:block th:fragment="common_resource_js">
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Your sidebar JS -->
	<script th:src="@{/js/sidebar.js}"></script>

	<!-- This is for NDI -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

	<!-- This is for NDI WebSockets -->

<!-- 	<script
		src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
 -->
	<!-- This is for citizen fetch js -->
	<script th:src="@{/js/GetCitizenDetails.js}"></script>


</th:block>