<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<header th:fragment="header" class="bg-success text-white py-2">

	<div class="container-fluid">

		<div class="d-flex justify-content-between align-items-center" style="padding-left:390px; padding-right:15px;">

			<!-- LEFT : LOGO + TITLE -->
			<div class="d-flex align-items-center">

				<img th:src="@{/images/RCSC-logo.png}" alt="RCSC Logo"
					style="height: 50px; margin-right: 15px;"> <span
					style="font-size: 20px; font-weight: 600; color: #ffffff; white-space: nowrap;">
					Scholarship Profile and Resource Management System (SPRMS) - RCSC </span>

			</div>

			<!-- RIGHT : USER + LOGOUT -->
	<!-- 		<div class="text-end">

				<span style="font-weight: 600;">User :</span> <span
					sec:authentication="name" style="font-weight: 600;"></span> &nbsp;
				| &nbsp;

				<form th:action="@{/logout}" method="post" class="d-inline">

					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />

					<button type="submit"
						style="background: none; border: none; color: #ffffff; font-weight: 600; cursor: pointer; padding: 0;">
						Log Out</button>

				</form>

			</div> -->

		</div>

	</div>

</header>
</html>